In [14]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [17]:
# Pre-processing
df = pd.read_csv("cardio_train.csv",sep=';')
display(df)
sd = StandardScaler()  
df = sd.fit_transform(df)
display(df)


X = df.drop(["cardio"],axis = 1)
y = df.cardio
Xtrain,ytrain,Xtest,ytest = train_test_split(X, y, test_size=0.3)
display(Xtrain)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

array([[-1.73208045, -0.43606151,  1.36405487, ..., -0.23838436,
         0.49416711, -0.99940018],
       [-1.73204579,  0.30768633, -0.73310834, ..., -0.23838436,
         0.49416711,  1.00060018],
       [-1.73201113, -0.24799666, -0.73310834, ..., -0.23838436,
        -2.02360695,  1.00060018],
       ...,
       [ 1.7338537 , -0.16328642,  1.36405487, ...,  4.19490608,
        -2.02360695,  1.00060018],
       [ 1.73392303,  1.20058905, -0.73310834, ..., -0.23838436,
        -2.02360695,  1.00060018],
       [ 1.73395769,  0.43414373, -0.73310834, ..., -0.23838436,
         0.49416711, -0.99940018]])

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [18]:
# Create Model

In [19]:
# Model evaluation / Model Selection

In [ ]:
# Using Test set