In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [5]:
# Pre-processing
df = pd.read_csv("cardio_train.csv",sep=';')
df = df.drop(["id"],axis = 1)
display(df)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [3]:
sd = StandardScaler()  
df = sd.fit_transform(df)
df = pd.DataFrame(df,columns=None, dtype=None, copy=No)

X = df.drop(["cardio"],axis = 1)
y = df.cardio
Xtrain,ytrain,Xtest,ytest = train_test_split(X, y, test_size=0.3)
display(Xtrain)

array([[-0.43606151,  1.36405487,  0.44345206, ..., -0.23838436,
         0.49416711, -0.99940018],
       [ 0.30768633, -0.73310834, -1.01816804, ..., -0.23838436,
         0.49416711,  1.00060018],
       [-0.24799666, -0.73310834,  0.07804703, ..., -0.23838436,
        -2.02360695,  1.00060018],
       ...,
       [-0.16328642,  1.36405487,  2.27047718, ...,  4.19490608,
        -2.02360695,  1.00060018],
       [ 1.20058905, -0.73310834, -0.16555632, ..., -0.23838436,
        -2.02360695,  1.00060018],
       [ 0.43414373, -0.73310834,  0.68705541, ..., -0.23838436,
         0.49416711, -0.99940018]])

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [ ]:
# Create Model

In [ ]:
# Model evaluation / Model Selection

In [ ]:
# Using Test set